Makefile
buildDesktop/Makefile*
buildSymbian/Makefile*
.make.cache
bld.inf
*.loc
*.mmp
*.pkg
*.rss
ui/*.h
moc/*.cpp
moc/*.h
moc/*.o
rcc/*.cpp
buildDesktop/*.cpp
buildDesktop/*.h
buildDesktop/*.o
buildDesktop/*.html
buildDesktop/*/*.cpp
buildDesktop/*/*.h
buildDesktop/*/*.o
buildDesktop/*/*.qml
buildDesktop/*/*.exe
buildDesktop/object_script*
buildSymbian/*.cpp
buildSymbian/*.h
buildSymbian/*.o
buildSymbian/*.html
buildSymbian/*/*.cpp
buildSymbian/*/*.h
buildSymbian/*/*.o
buildSymbian/*/*.qml
buildSymbian/*/*.exe
buildSymbian/object_script*
